<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866709152606-7l5osdbl5it9v60todr9hsgsr0ni9s12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866709152606-7l5osdbl5it9v60todr9hsgsr0ni9s12</string>
	<key>API_KEY</key>
	<string>AIzaSyDTGVY4OxS0YIsHRFLN0Y7J1xaOdIfHFiw</string>
	<key>GCM_SENDER_ID</key>
	<string>866709152606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfoliio2</string>
	<key>PROJECT_ID</key>
	<string>myportfolio-84e1e</string>
	<key>STORAGE_BUCKET</key>
	<string>myportfolio-84e1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866709152606:ios:680ab57db3a2788f0d65cf</string>
</dict>
</plist>